.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  h1 {
  }
  
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, auto);
  }
  
  .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 40px;
    font-weight: bold;
    font-size: 20px;
    border: 4px saddlebrown dashed;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .tile--set {
    background: khaki;
  }
  
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    pointer-events: none;
  }
  

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .wrapper {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(5, 19%);
      }
      
      .tile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        min-height: 20px;
        font-weight: bold;
        font-size: 14px;
        border: 3px saddlebrown dotted;
        border-radius: 10px;
        cursor: pointer;
      }
      
      .tile--set {
        background: khaki;
      }
  }