/* body {
  font: normal 16px Helvetica, Verdana;
  background-color: #FFF8EE;
  color: #1a1a1a;
}

h1 {
  font-family: "Courier New";
}

p {
  font-weight: bold;
}

.directions {
  display: block;
  margin-bottom: 10px;
  font-size: 80%;
}

#grades, #avg_grades {
  font: normal 20px "Courier New";
}

#final_grade {
  font: bold 72px Helvetica, Verdana;
}

.green {
  color: green;
}

.teal {
  color: teal;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.red {
  color: red;
}
 */